
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgba(248, 115, 91, 0.678);
}
header {
  display: flex;
  background-color: rgb(129, 15, 236);
  color: white;
  position: absolute;
  height: 125px;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 5px 5px #646464;
}
header h1 {
  position: absolute;
  top: 28px;
  display: flex;
  font-size: 48px;
  font-weight: 900;
}
section {
  position: absolute;
  top: 45px;
  right: 0px;
  display: flex;
  flex-direction: row;
}
ul li {
  display: inline;
  background-color: white;
  color: rgb(129, 15, 236);
  margin: 1px;
}
nav {
  display: flex;
  flex-direction: row;
  margin: 5px;
  position: absolute;
  justify-content: center;
  align-content: center;
  top: 200px;
}
.Boxes {
  color:rgb(129, 15, 236) ;
  display: flex;
  flex-direction: row;
  position: relative;
}

.Box {
  border: 2px dashed white;
  padding: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.Box h2 {
  color: white;
  padding-left: 10px;
  border: 2px solid white;
  border-radius: 10px;
  position: absolute;
  top: -.75em;
  background-color:rgb(129, 15, 236);
  width: 85%;
}

@media screen and (min-width: 650px) {
  .boxes {
      flex-direction: row;
      flex-wrap: wrap;
  }
  .Box {
      flex: 1 0 300px;
  }
  .Box h2 {
      width: 30%;
  }
.Box p {
  justify-content: center;
}
footer {
  display: flex;
  background-color: rgb(129, 15, 236);
  color: white;
  position: absolute;
  height: 125px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px -5px 5px #646464;
}
footer h3 {
  font-size: 56px;
  position: absolute;
  bottom: 51px;
}
.form {
  position: absolute;
  right: 0px;
}